<div class="authentication">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-9 col-md-8 col-xs-12 p-l-0">
                    <div class="l-detail">
                        <h5 class="position">Welcome</h5>
                        <h1 class="position"><img src="assets/images/logo.svg" alt="profile img">admin</h1>
                        <h3 class="position">Sign in to start your session</h3>
                        <p class="position">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>                            
                        <ul class="list-unstyled l-social position">
                            <li><a href="#"><i class="zmdi zmdi-facebook-box"></i></a></li>                                
                            <li><a href="#"><i class="zmdi zmdi-linkedin-box"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-pinterest-box"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>                            
                            <li><a href="#"><i class="zmdi zmdi-google-plus-box"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-behance"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>                            
                        </ul>
                        <ul class="list-unstyled l-menu">
                            <li><a href="#">Contact Us</a></li>                                
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
			<div class="col-lg-3 col-md-5 col-xs-12 p-r-0">
				<div class="card">
                    <h4 class="l-login">The General Shutdown <div class="msg">Maintanance or not?</div></h4>
                    <form class="col-md-12" id="sign_in" method="POST">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control">
                                <label class="form-label">Search...</label>
                            </div>
                        </div>            
                        <div class="row">                    
                            <div class="col-xs-12">
                                <a class="btn btn-raised  g-bg-purple waves-effect" href="index.html">GO TO HOMEPAGE</a>
                            </div>
                            <div class="col-xs-12"> <a href="sign-in.html">Sign In!</a> </div>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>